{% extends 'base.html.twig' %}

{% block title %} {{ partenaire.entreprise }} - FAO TRAVEL !{% endblock %}

{% block body %}
    <div class="container">
        {% if is_mobile() %}
            <div class="row p-1">
                <h1 class="bg-secondary text-center  p-1">{{ partenaire.entreprise }}</h1>
            </div>

            <div class="row">
                <div class="col-6">
                    <img class="rounded img-thumbnail border-0 illustration" src="{{ asset('uploads/logos/'~partenaire.logoName) }}"
                         alt="Logo de {{ partenaire.logoName }} ">
                </div>
                <div class="col-6">
                    <p><span class="fw-bold">{{ partenaire.nom }}</span><br>
                        {{ partenaire.adresse }}<br>
                        {{ partenaire.codepostal }} {{ partenaire.ville | upper }}<br>
                        <a href="{{ partenaire.site }}" target="_blank" class="text-decoration-none"
                           style="color: #D77739 !important;"><i class="fa fa-solid fa-globe"></i><span
                                    class="fw-bold"> {{ partenaire.entreprise }}</span></a></p>
                </div>
            </div>

            <div class="row">
                <p style="text-align: justify">{{ partenaire.description | raw }}</p>
            </div>
        {% else %}

            <div class="row d-lg-flex">
                <div class="col-lg-2" >
                    <img class="rounded img-thumbnail p-0 border-0 illustration" src="{{ asset('uploads/logos/'~partenaire.logoName) }}"
                         alt="Logo de {{ partenaire.logoName }} ">
                </div>
                <div class="col-lg-10">
                    <h3>{{ partenaire.entreprise }}</h3>

                    <p style="text-align: justify">{{ partenaire.description | raw }}</p>
                    <hr>
                    <p><span class="fw-bold">{{ partenaire.nom }}</span><br>
                        {{ partenaire.adresse }}<br>
                        {{ partenaire.codepostal }} {{ partenaire.ville | upper }}<br>
                        <a href="{{ partenaire.site }}" target="_blank" class="text-decoration-none"
                           style="color: #D77739 !important;"><i class="fa fa-solid fa-globe"></i><span
                                    class="fw-bold"> {{ partenaire.entreprise }}</span></a></p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <a href="{{ path('app_partenaires') }}" class="btn btn-success mt-3 ">Retour aux partenaires</a>
        </div>
    </div>

{% endblock %}
