{% extends 'base.html.twig' %}


{% if app.request.attributes.get('_route_params') is not empty %}
    {% set rubrique =  app.request.attributes.get('_route_params')['rubrique'] %}
{% else %}
    {% set rubrique =  "" %}
{% endif %}

{% if rubrique == 'Relaxation' %}
    {% set titre = "Relaxation" %}
{% elseif rubrique == 'Musique et concerts' %}
    {% set titre = "Musique<br>et<br>concerts" %}
{% elseif rubrique == 'Animations' %}
    {% set titre = "Animations" %}
{% else %}
    {% set titre = "inconnu" %}
{% endif %}

{% block title %}Livre d'or - FAO TRAVEL !{% endblock %}
{% block body %}
    {% if commentaires is empty %}
        {% if titre == 'inconnu' %}
            <div style="height: 400px">
                <div class="h1 bg-warning text-center">Ce livre n'existe pas !</div>
            </div>
        {% else %}
            <div style="height: 400px">
                <div class="h1 bg-warning text-center">Il n'y a pas de commentaires dans cette catégorie !</div>
            </div>
        {% endif %}
    {% else %}
        {#        <div class="container "> #}
        {#            <div class="masque text-center"><span class="bg-secondary "> Livre d'or : {{ titre }}</span></div> #}
        {#            <div class="row montre"> #}
        {#                <div class="col-lg-4 bg-image " style="background-image: url('/images/livre/livre.png');display:grid;"> #}
        {#                    <div class=" m-3  text-center  text-warning align-self-center "> #}
        {#                        <div class="card-body "> #}
        {#                            <p class="card-text ms-3" style="font-family: Balthazar,serif; font-size: 1.5vw;"> #}
        {#                                Livre d'or<br>• • •<br>{{ titre | raw }} #}
        {#                            </p> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                </div> #}
        {#    TODO modifier le style #}

        {#                {% for comment in commentaires %} #}
        {#                    <div class="col-lg-4"> #}
        {#                        <div class="card m-3  bg-warning"> #}
        {#                            <div class="card-body"> #}
        {#                                <p class="card-text">{{ comment.message }}</p> #}
        {#                                <p class="text-end fst-italic"> {{ comment.prenom }} - {%  if comment.age != 0%}{{ comment.age }} ans{% endif %}</p> #}
        {#                            </div> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                {% endfor %} #}
        {#            </div> #}
        {#        </div> #}
        <div class="row">
            <div class="col-lg-3">
                <div class="bg-image" style="background-image: url('/images/livre/livre.png');display:grid;">
                    <div class=" m-3  text-center">
                        <div class="card-body">
                            <p class="card-text ms-3 pt-5" style="font-family: Balthazar,serif; font-size: 1.5vw; color: yellow; height: 300px;"">
                                Livre d'or<br>• • •<br>{{ titre | raw }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                {% for comment in commentaires %}
                    <p class="card-text">{{ comment.message }}</p>
                    <p class="text-end fst-italic fw-bold"> {{ comment.prenom }}
                        - {% if comment.age != 0 %}{{ comment.age }} ans{% endif %}</p>
                    <hr>
                {% endfor %}

            </div>
        </div>

    {% endif %}

{% endblock %}
