{% extends 'base.html.twig' %}

{% if app.request.attributes.get('_route_params') is not empty %}
    {% set rubrique =  app.request.attributes.get('_route_params')['rubrique'] %}
{% else %}
    {% set rubrique =  "" %}
{% endif %}

{% if rubrique == 'relax' %}
    {% set titre = "Relaxation" %}
{% elseif rubrique == 'musique' %}
    {% set titre = "Musique<br>et<br>concerts" %}
{% elseif rubrique == 'animation' %}
    {% set titre = "Animations" %}
{% else %}
    {% set titre = "" %}
{% endif %}

{% block title %}Livre d'or - FAO TRAVEL !{% endblock %}
{% block body %}
    {% if commentaires is empty %}
        <div>
            No comments{# TODO gérer les erreurs de rubrique #}
        </div>
    {% else %}
        <div class="container ">
            <div class="masque text-center"><span class="bg-secondary "> Livre d'or : {{ titre }}</span></div>
            <div class="row">
                <div class="col-sm-4 bg-image " style="background-image: url('/images/livre/livre.png');display:grid;">
                    <div class=" m-3  text-center  text-warning align-self-center ">
                        <div class="card-body ">
                            <p class="card-text ms-3"  style="font-family: font-family-serif,serif; font-size: 1.5vw;">
                                Livre d'or<br>• • •<br>{{ titre | raw}}
                            </p>
                        </div>
                    </div>
                </div>

                {% for comment in commentaires %}
                    <div class="col-sm-4">
                        <div class="card m-3  bg-warning">
                            <div class="card-body">
                                <p class="card-text">{{ comment.message }}</p>
                                <p class="text-end fst-italic"> {{ comment.prenom }} - {{ comment.age }} ans</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
