<div class="row bg-dark mt-3  p-2 text-secondary pied">
    <div> {# ordi #}
        <div class="row d-none d-md-flex">
            <div class="col-4">
                <div>
                    <p class="fs-5 fw-bold">Contacts :</p>
                    <p class="">
                        <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_contact') }}">Me contacter <i
                                    class="fa fa-envelope-o"></i>
                        </a>
                </div>
            </div>

            <div class="col-4">
                <div>
                    <p class="fs-5 fw-bold">Sur les réseaux sociaux :</p>
                    <p><span class="fw-bold">Facebook : </span>{{ facebook }}<br>
                        <span class="fw-bold">Youtube : </span>{{ youtube }}<br>
                        <span class="fw-bold">Instagram : </span>{{ instagram }}<br>
                        <span class="fw-bold">Tik tok : </span>{{ tiktok }}</p>
                </div>
            </div>

            <div class="col-4">
                <div>
                    <p class="fs-5 fw-bold">Partenaires :</p>
                    <p class="text-secondary pied">
                        {% for partenaire in partenaires %}
                            <span class="fw-bold"> {{ partenaire.entreprise }}</span> - {{ partenaire.codepostal }} {{ partenaire.ville | upper }}
                            <br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>{# ordi #}

    <div> {# tél #}
        <div class="row d-md-none text-center">
            <p class=""><a class="btn btn-outline-secondary btn-sm" href="{{ path('app_contact') }}">Me contacter <i
                            class="fa fa-envelope-o"></i> </a></p>
        </div>

        <div>
            <p><span class="fw-bold">Facebook : </span>{{ facebook }}<br>
                <span class="fw-bold">Youtube : </span>{{ youtube }}<br>
                <span class="fw-bold">Instagram : </span>{{ instagram }}<br>
                <span class="fw-bold">Tik tok : </span>{{ tiktok }}</p>
        </div>

    </div>
</div>{# tél #}

    {% include 'home/_copyright.html.twig' %}
</div>
