<div class="container bg-primary">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-2 text-secondary pied">
                <p>Contacts :</p>
                <p class="pied">
                    Mail : {{mail}}<br>
                    Facebook : {{ facebook }}<br>
                    Youtube : {{ youtube }}<br>
                    Instagram : {{ instagram }}<br>
                    Tik tok : {{ tiktok }}</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-2 text-secondary">
                <p class="fs-5">Partenaires :</p>
                <p class="fs-6">
                    Gilles Salmon - 57050 METZ<br>
                    Ederod Handpan 25000 BESANÇON</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center text-secondary">© Gilles SALMON - 2022</div>
</div>