<div class="container">
    <div class="row">
        <div class="col-md-2 offset-1">
            <img src="{{ asset('images/logo2.png') }}" width='200' height='230' alt="Logo FAO Travel">
        </div>
        <div class="col-md-9    ">
            <h3 class="text-center"></h3>
            <h1 class="text-center  font-family-serif" style="font-family: font-family-serif,serif; font-size: 7rem">FAO
                TRAVEL</h1>
            <h3 class="text-center">Musique, Animation</h3>
            <h3 class="text-center">& Bien-être</h3>
        </div>
    </div>
    <nav class="nav navbar-nav navbar-expand-md nav-tabs navbar-dark  flex-column flex-sm-row mt-3">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_trajet') }}">Trajet</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_carnet') }}">Carnet de voyage</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary" href="{{ path('app_musique') }}">Musique</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_animation') }}">Animation</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_bienetre') }}">Bien-être</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_projets') }}">Projets</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_presse') }}">Presse</a>
        <a class="flex-sm-fill text-sm-center nav-link border-light bg-secondary"  href="{{ path('app_partenaires') }}">Partenaires</a>
    </nav>
</div>