{% extends 'base.html.twig' %}

{% block title %}Musique - Fao Travel{% endblock %}

{% block body %}
    <div class="container">

    {% if is_mobile() %}
        <div class="row p-1">
            <h1 class="bg-secondary text-center p-1">Musique</h1>
        </div>

        <div class="row ">
            <img src="{{ asset('images/musique/ponton.png') }}"
                 width="100%"
                 class="illustration"
                 alt="Étienne jouant du handpan sur un ponton">
            <h5>Clips</h5>

            <p style=" text-align: justify;">En tant que musicien, j’ai tout naturellement l’ambition de
                créer
                mon
                propre album. Et pour être tout
                à fait exact, je dirais même mes albums.</p>
            <p style=" text-align: justify;">Le premier, déjà en préparation, vous fera découvrir mon
                univers
                musical avec le handpan et d’autres
                instruments en accompagnement.</p>
            <p style=" text-align: justify;">Le deuxième sera un album itinérant qui se fera grâce aux
                rencontres
                sur ma route. L’objectif est de
                composer un morceau avec un artiste de chaque pays traversé.</p>
            <p style=" text-align: justify;">Bien évidemment tout cela à un coup, alors si vous le
                souhaitez,
                vous
                pouvez soutenir le projet via
                la cagnotte en cliquant <a class="" href="https://www.leetchi.com/fr/c/lXJ4WKJ5"
                                           target="_blank"
                                           style="color: #754517 !important" ;>ici</a>.
            </p>
            <div class="border border-primary rounded mb-2">
                <p><a href="{{ absolute_url('https://www.youtube.com/channel/UCJmuI3OdfHtrI7L-Gf2OeDg') }}"
                      target="_blank"><img
                                src="{{ asset('images/logos/youtube.png') }}" alt="logo youtube"
                                style="height: 20px;"></a>
                    Pour découvrir ou redécouvrir mes clips, clique juste
                    <a href="{{ absolute_url('https://www.youtube.com/channel/UCJmuI3OdfHtrI7L-Gf2OeDg') }}"
                       target="_blank">ici</a>,</p>
                <p><a href="{{ absolute_url('https://www.tiktok.com/@barbapapan') }}" target="_blank"><img
                                src="{{ asset('images/logos/tiktok.webp') }}" alt="logo tiktok"
                                style="height: 20px;"></a>
                    Et pour me suivre sur "Tik tok"© clique <a
                            href="{{ absolute_url('https://www.tiktok.com/@barbapapan') }}"
                            target="_blank">là</a>&nbsp;!
            </div>

            <img src="{{ asset('images/musique/mariage.jpg') }}" width="100%" alt="Animation d'un mariage"
                 class="illustration"
            >
            <h5>Créations</h5>
            <p style=" text-align: justify;">L’un de mes objectifs musicaux est également de promouvoir le
                handpan à
                travers le monde, c’est pour
                cela que je joue beaucoup dans la rue, mais je fais également des concerts à la demande
                (mariage,
                anniversaire, soirée privée...) qui peuvent se compléter d’une animation "BlindTest".</p>
            <p style=" text-align: justify;">Je fais également découvrir le handpan à travers d’autres activités et
                c’est pour cela que je
                propose
                mes services pour créer des morceaux sur mesure pour :</p>
            <ul>
                <li>des troupes de danses (ou danseur.seuse solo)</li>
                <li>des beatmakers</li>
                <li>des entreprises (attente téléphonique, musique pour présentation d’un produit...)</li>
                <li>des cérémonies (baptême, mariage, enterrement...)</li>
                <li>etc.</li>
            </ul>
        </div>
        <div class="row border border-primary text-center m-2">
            <p class="fw-bold">Le tarif de chaque prestation est adapté à la personne ou à la structure qui
                souhaite
                travailler avec moi,<br>ainsi qu’à l’ampleur du projet.</p>
            <p class="fw-bold">Pour avoir un devis ou discuter des termes du contrat, merci de m’envoyer
                votre
                demande :<br><a
                        class="btn-contact mt-2"
                        href="{{ path('app_contact') }}">Demander un devis <i
                            class="fa fa-envelope-o"></i>
                </a></p>
        </div>
        </div>
        </div>
    {% else %}
        <div class="row">
            <div class="row px-0 mx-0">
                <div class="col-6 ">
                    <img src="{{ asset('images/musique/ponton.png') }}" width="100%"
                         alt="Étienne jouant du handpan sur un ponton" class="mb-2 illustration"
                    >
                </div>
                <div class="col-6">
                    <h5>Clips</h5>

                    <p style=" text-align: justify;">En tant que musicien, j’ai tout naturellement
                        l’ambition
                        de créer mon
                        propre album. Et pour être tout
                        à fait exact, je dirais même mes albums.</p>
                    <p style=" text-align: justify;">Le premier, déjà en préparation, vous fera découvrir
                        mon
                        univers
                        musical avec le handpan et d’autres
                        instruments en accompagnement.</p>
                    <p style=" text-align: justify;">Le deuxième sera un album itinérant qui se fera grâce
                        aux
                        rencontres
                        sur ma route. L’objectif est de
                        composer un morceau avec un artiste de chaque pays traversé.</p>
                    <p style=" text-align: justify;">Bien évidemment tout cela à un coup, alors si vous le
                        souhaitez, vous
                        pouvez soutenir le projet via
                        la cagnotte en cliquant <a class="" href="https://www.leetchi.com/fr/c/lXJ4WKJ5"
                                                   target="_blank"
                                                   style="color: #754517 !important" ;>ici</a>.
                    </p>
                    <p><a href="{{ absolute_url('https://www.youtube.com/channel/UCJmuI3OdfHtrI7L-Gf2OeDg') }}"
                          target="_blank"><img
                                    src="{{ asset('images/logos/youtube.webp') }}" alt="logo youtube"
                                    style="height: 20px;"
                                    ></a>
                        Pour découvrir ou redécouvrir mes clips, clique juste
                        <a href="{{ absolute_url('https://www.youtube.com/channel/UCJmuI3OdfHtrI7L-Gf2OeDg') }}"
                           id="youtube"
                           target="_blank">ici</a>,</p>
                    <p><a href="{{ absolute_url('https://www.tiktok.com/@barbapapan') }}" target="_blank"><img
                                    src="{{ asset('images/logos/tiktok.webp') }}" alt="logo tiktok"
                                    style="height: 20px;"
                                    ></a>
                        Et pour me suivre sur "Tik tok"<sup>©</sup> clique <a
                                href="{{ absolute_url('https://www.tiktok.com/@barbapapan') }}"
                                id="tiktok"
                                target="_blank">là</a> !
                </div>
            </div>

            <div class="row px-0 mx-0">
                <div class="col-8  align-self-center">
                    <h5>Créations</h5>
                    <p style=" text-align: justify;">L’un de mes objectifs musicaux est également de promouvoir le
                        handpan à
                        travers le monde, c’est pour
                        cela que je joue beaucoup dans la rue, mais je fais également des concerts à la demande
                        (mariage,
                        anniversaire, soirée privée...) qui peuvent se compléter d’une animation "BlindTest".</p>
                    <p>Je fais également découvrir le handpan à travers d’autres activités et c’est pour cela que je
                        propose
                        mes services pour créer des morceaux sur mesure pour :</p>
                    <ul>
                        <li>des troupes de danses (ou danseur.seuse solo)</li>
                        <li>des beatmakers</li>
                        <li>des entreprises (attente téléphonique, musique pour présentation d’un produit...)</li>
                        <li>des cérémonies (baptême, mariage, enterrement...)</li>
                        <li>etc.</li>
                    </ul>
                </div>
                <div class="col-4  align-self-center">
                    <img src="{{ asset('images/musique/mariage.jpg') }}" class="img-fluid illustration"
                         alt="Animation d'un mariage">
                </div>
            </div>
            <div class="row px-0 mx-0">
                <div class="border border-primary text-center align-self-center mt-2 ">
                    <p class="fw-bold">Le tarif de chaque prestation est adapté à la personne ou à la structure qui
                        souhaite
                        travailler avec moi,<br>ainsi qu’à l’ampleur du projet.</p>
                    <p class="fw-bold">Pour avoir un devis ou discuter des termes du contrat, merci de m’envoyer
                        votre
                        demande :<br><a
                                class="btn-contact mt-2"
                                href="{{ path('app_contact') }}">Demander un devis <i
                                    class="fa fa-envelope-o"></i>
                        </a></p>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
