{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
{#{{ dump(event) }}#}
        <div class="col-md-3  ">
            {% if event.imageName is not null %}
                <img class="img-thumbnail" src="{{ asset('uploads/medias/'~event.imageName) }}" alt="{{ event.imageName }}">
            {% endif %}
        </div>
        <div class="col-md-9 ">
            {% set formatted_date = "" %}
            {% if  event.beginAt |  date('d-m-Y') == event.endAt | date('d-m-Y') %}
                {% set formatted_date = "le "~event.beginAt | date('d-m-Y à h:m') %}
            {% else %}
                {% set formatted_date = "du "~event.beginAt | date('d-m-Y')~" au "~event.endAt | date('d-m-Y') %}
            {% endif %}
            <h1>{{ event.titre }} </h1>
            <h4></h4>
            <p style="background-color: {{ event.rubrique.color }};">{{ event.rubrique.nom }}</p>
            <div><span  class="fw-bold">{{ event.ville.nom }} :</span> {{ formatted_date }}</div>
            <hr>
            <div>{{ event.description }}</div>

        </div>
            <div class="row">
                <a href="{{ path('app_agenda') }}" class="btn btn-success mt-3 ">Retour au calendrier</a>
            </div>
    </div>
{% endblock %}
