{% extends 'base.html.twig' %}

{% block title %}FAO TRAVEL - Mentions légales{% endblock %}
{% block body %}
    <div class="row small">
        <h1 class="text-center">Mentions légales</h1>
        <hr class="m-1">
        <hr>
        <div>
            <h2><img class="img-fluid" src="{{ asset('images/mentions_legales/proprio.png') }}"
                                                   width='40'
                                                   height='40' alt=""> Propriétaire / Éditeur</h2>
            <p class="ps-5"> "FAO Travel" est un site web édité par "FAO Travel" et publié sous la direction
                de Gilles SALMON (Webmaster).</p>

            <p class="ps-5"> L’ensemble du site "FAO Travel", pages et contenus, est la propriété de "FAO Travel".</p>

            <p class="ps-5"> Pour plus d’informations sur la société, reportez-vous au site <a
                        href="{{ absolute_url('https://fao-travel.fr') }}">fao-travel.fr</a>.</p>
            <br>

            <p class="ps-5"> Contact administratif du site "FAO Travel" : barbapapan @ gmail.com.</p>
        </div>
        <hr>
        <div>
            <h2><img class="img-fluid" src="{{ asset('images/mentions_legales/hebergeur.png') }}"
                                                   width='40'
                                                   height='40' alt=""> Hébergeur</h2>
            <p class="ps-5"> "FAO Travel" est hébergé par o2switch.
            <p class="ps-5">SARL au capital de 100000€ dont le siège social est établi 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand, immatriculée au Registre du Commerce et des Sociétés sous le numéro 510 909 80700024 - RCS Clermont Ferrand</p>
            <p class="ps-5">Pour plus d’informations, reportez-vous au site :
                <a href="{{ absolute_url('https://www.o2switch.fr/') }}">www.o2switch.fr</a></p>
            <p class="ps-5"> Pour les contacter, utilisez le formulaire : <a href="https://www.o2switch.fr/support-hebergeur/">www.o2switch.fr/support-hebergeur/</a>.
            </p>
            <p class="ps-5">"FAO Travel" décline toute responsabilité quant aux éventuelles interruptions du site "FAO Travel".
            </p>
        </div>
        <hr>
        <div>
            <h2><img class="img-fluid" src="{{ asset('images/mentions_legales/palette.png') }}"
                                                   width='40'
                                                   height='40' alt=""> Concepteur / Créateur</h2>
            <p class="ps-5">Le site "FAO Travel" a été créé par Gilles SALMON sur une maquette d'Étienne SALMON.</p>
        </div>
        <hr>
        <div>
            <h2><img class="img-fluid" src="{{ asset('images/mentions_legales/Symfony.png') }}"
                                                   width='40'
                                                   height='40' alt=""> Fonctionnement du site</h2>
            <p class="ps-5">Les pages et le contenu de ce site sont générés par le framework Symfony, distribué sous licence MIT.

            <p class="ps-5">Vous pouvez l’utiliser librement pour réaliser votre propre site web. Pour plus d’informations,
                reportez-vous au site : <a href="{{ absolute_url('https://symfony.com/') }}">symfony.com</a>.</p>


            <p class="ps-5">En application des articles L. 111-1 et L. 123-1 du Code de la Propriété Intellectuelle, l’ensemble
                des
                contenus de ce site (textes, images, vidéos et tout média en général), sauf mention contraire
                explicite,
                est
                protégé par le droit d’auteur. La reproduction, même partielle, des contenus des pages de ce site
                sans
                accord préalable de "FAO Travel" est strictement interdite.</p>
        </div>
    </div>

{% endblock %}
