{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div>
        <h1 class="text-center  bg-danger" style="color: white;">En cours de création... {{ posts.getTotalItemCount }} articles</h1>

        {% for post in posts %}
            {#        {{ dump(posts) }} #}
            <div class="row ">
                <div class="col-3">
                    <img class="img-thumbnail slidable" style="display: none"
                         src="{{ asset(post.image) }}"
                         alt="{{ post.image }}">

                </div>

                <div class="col-9">
                    <h1>{{ post.titre }}</h1>
                    <p style="opacity: 80%">Publié le : {{ post.publishedAt | date('d-m-y') }}</p>
                    <div>
                        {{ post.contenu | striptags | u.truncate(400, '...', false ) }}
                    </div>
                    <a href="{{ path('app_blog_show' , {'id' : post.id}) }}" class="btn text-left">Lire la suite...</a>
                </div>
                <hr class="text-secondary">
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        window.addEventListener('load', function () {
            $(".slidable").hide();
            $(".slidable").slideUp(0);
            $(".slidable").slideDown(2000);
        });
    </script>
{% endblock javascripts %}
