{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="row justify-content-center">

        <div class="col-md-6 bg-light p-2">
            <h1 class="h2 mb-4 text-center">Ajouter une ville</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-secondary w-100" formnovalidate>Chercher</button>
            {{ form_end(form) }}
        </div>

        <div>
                {% for city in cities %}
{#                    {{ dump(city) }}#}
                    <a href="{{ path('app_add_ville', {name: (city.display_name |split(","))[0], lat: city.lat, lon: city.lon}) }}" >
                                <p>{{ city.display_name }} ({{ city.lat | u.truncate(5)}}-{{ city.lon  | u.truncate(5)}})</p>
                        </a>
                {% endfor %}
        </div>
    </div>

{% endblock %}
