{% extends 'base.html.twig' %}

{% block title %}Bien-être - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="container">
        {% if is_mobile() %}
            <div class="row p-1">
                <h1 class="bg-secondary text-center p-1">Bien être</h1>
            </div>
            <div class="row ">
                <div class="col-6">
                    <div class="card  ">
                        <a href="{{ path('app_relaxation') }}" class="btn btn-primary   rounded-0 ">Relaxation
                            vibratoire</a>
                        <img class="card-img-top illustration" src="{{ asset('images/bienetre/relaxation.jpeg') }}"
                             style="width: 100%; height:100%"
                             alt="Illustration pour la Relaxation.">
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <a href="#" class="btn btn-primary   rounded-0 ">Massage californien</a>
                        <img class="card-img-top illustration" src="{{ asset('images/bienetre/massage-a-venir.png') }}"
                             alt="Illustration pour le Massage"
                        >
                        {#  TODO réactiver le lien {{ path('app_massage') }} et changer l'image massage.jpg #}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row small">
                    <div class="border border-primary  m-3 rounded-5 ">
                        <div class="m-2">
                            <div class="row fw-bold text-center">
                                <div class="col">
                                    DECOUVERTE VIBRATOIRE
                                </div>
                                <div>
                                    Durée : 10 minutes
                                </div>
                                <hr class="mt-2 mb-1">
                            </div>
                            <div class="row ">
                                <div class="fw-bold">
                                    {{ 'Déroulement&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant
                                    quelques
                                    minutes puis je vais jouer sur l’instrument qui sera posé sur votre dos.
                                </div>
                            </div>
                            <div class="row">
                                <div class="fw-bold">
                                    {{ 'Bienfait&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Diminution du stress, récupération en énergie.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary  m-3 rounded-5 ">
                        <div class="m-2">
                            <div class="row fw-bold text-center">
                                <div class="col">
                                    RELAXATION VIBRATOIRE
                                </div>
                                <div>
                                    Durée : 30 minutes
                                </div>
                                <hr class="mt-2 mb-1">
                            </div>
                            <div class="row ">
                                <div class="fw-bold">
                                    {{ 'Déroulement&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant
                                    quelques
                                    minutes. Ensuite, je vais jouer sur l’instrument qui sera posé sur votre ventre,
                                    puis
                                    sur
                                    votre
                                    dos.
                                    Je
                                    finirai par jouer à côté de vous, de manière à ce que votre corps, par empreinte
                                    sonore
                                    puisse
                                    continuer
                                    à se relaxer.
                                </div>
                            </div>
                            <div class="row ">
                                <div class="fw-bold">
                                    {{ 'Bienfait&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Relâchement mental, diminution du stress, récupération en énergie, meilleure qualité
                                    du
                                    sommeil et de la digestion.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border border-primary  m-3 rounded-5 ">
                        <div class="m-2">
                            <div class="row fw-bold text-center">
                                <div>
                                    SEANCE BIEN-ÊTRE
                                </div>
                                <div>
                                    Durée : 60 min
                                </div>
                                <hr class="mt-2 mb-1">
                            </div>
                            <div class="row ">
                                <div class="fw-bold">
                                    {{ 'Déroulement&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Cette séance vous propose un massage du corps (dos, bras, mains, jambes et
                                    pieds)
                                    avec une huile 100 % naturelle, dans une ambiance sonore de handpan. Ensuite, je
                                    continuerai
                                    avec la séance de RELAXATION VIBRATOIRE.
                                </div>
                            </div>
                            <div class="row ">
                                <div class="fw-bold">
                                    {{ 'Bienfait&nbsp;:'|italic }}
                                </div>
                                <div>
                                    Relâchement musculaire et mental, diminution du stress, récupération en énergie,
                                    meilleure
                                    qualité
                                    du
                                    sommeil et de la digestion.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row  d-lg-flex ">
                <div class="row ">
                    <div class="col-lg-4 offset-lg-1">
                        <div class="card m-3  illustration border-0">
                            <a href="{{ path('app_relaxation') }}" class="btn btn-primary   rounded-0 ">Relaxation
                                vibratoire</a>
                            <img class="card-img-top  rounded-0" src="{{ asset('images/bienetre/relaxation.jpeg') }}"
                                 style="width: 100%; height:100%"
                                 alt="Illustration pour la Relaxation."
                            >
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-2">
                        <div class="card m-3 illustration border-0">
                            <a href="#" class="btn btn-primary   rounded-0 ">Massage californien</a>
                            <img class="card-img-top  rounded-0"
                                 src="{{ asset('images/bienetre/massage-a-venir.png') }}"
                                 alt="Illustration pour le Massage"
                            >
                            {#  TODO réactiver le lien {{ path('app_massage') }} et changer l'image massage.jpg #}
                        </div>
                    </div>
                </div>
                <div class="border border-primary pt-2 mb-3 rounded-5 ">
                    <div class="mx-5 pt-1 small">
                        <div class="fw-bold row ">
                            <div class="col">
                                DECOUVERTE VIBRATOIRE
                            </div>
                            <div class="col">
                                Durée : 10 minutes
                            </div>
                            {#                            <div class="col"> #}
                            {#                                Tarif : 10 € #}
                            {#                            </div> #}
                        </div>
                        <div class="row ">
                            <div class="col-2">
                                {{ 'Déroulement&nbsp;:'|italic }}
                            </div>
                            <div>
                                Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant
                                quelques
                                minutes puis je vais jouer sur l’instrument qui sera posé sur votre dos.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                {{ 'Bienfait&nbsp;:'|italic }}
                            </div>
                            <div>
                                Diminution du stress, récupération en énergie.
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class=" mx-5 pt-1 small">
                        <div class="row fw-bold ">
                            <div class="col">
                                RELAXATION VIBRATOIRE
                            </div>
                            <div class="col">
                                Durée : 30 minutes
                            </div>
                            {#                            <div class="col"> #}
                            {#                                Tarif : 25 € #}
                            {#                            </div> #}
                        </div>
                        <div class="row ">
                            <div class="col-2">
                                {{ 'Déroulement&nbsp;:'|italic }}
                            </div>
                            <div>
                                Lors de cette séance, je vous accompagne verbalement afin de vous détendre pendant
                                quelques
                                minutes. Ensuite, je vais jouer sur l’instrument qui sera posé sur votre ventre, puis
                                sur
                                votre dos.
                                Je
                                finirai par jouer à côté de vous, de manière à ce que votre corps, par empreinte sonore
                                puisse
                                continuer
                                à se relaxer.
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-2">
                                {{ 'Bienfait&nbsp;:'|italic }}
                            </div>
                            <div>
                                Relâchement mental, diminution du stress, récupération en énergie, meilleure qualité du
                                sommeil et
                                de
                                la digestion.
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class=" mx-5 pt-1 mb-2 small">
                        <div class="row fw-bold ">
                            <div class="col">
                                SEANCE BIEN-ÊTRE
                            </div>
                            <div class="col">
                                Durée : 60 min
                            </div>
                            {#                            <div class="col"> #}
                            {#                                Tarif : 50 € #}
                            {#                            </div> #}
                        </div>
                        <div class="row ">
                            <div class="col-2">
                                {{ 'Déroulement&nbsp;:'|italic }}
                            </div>
                            <div>
                                Cette séance vous propose un massage du corps (dos, bras, mains, jambes et
                                pieds)
                                avec
                                une huile 100 % naturelle, dans une ambiance sonore de handpan. Ensuite, je continuerai
                                avec
                                la
                                séance
                                de
                                RELAXATION VIBRATOIRE.
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-2">
                                {{ 'Bienfait&nbsp;:'|italic }}
                            </div>
                            <div>
                                Relâchement musculaire et mental, diminution du stress, récupération en énergie,
                                meilleure
                                qualité
                                du
                                sommeil et de la digestion.
                            </div>
                        </div>
                    </div> {# TODO bloc à commenter provisoirement #}
                </div>
            </div>
        {% endif %}
        <div class="row text-center">
            <p><a
                    class="btn-contact mt-2"
                    href="{{ path('app_contact') }}">Demander un devis <i
                        class="fa fa-envelope-o"></i>
            </a></p>
        </div>
    </div>
{% endblock %}
