{% extends 'base.html.twig' %}

{% block title %}Bien-être FAO TRAVEL !{% endblock %}
{% block body %}
    {% include 'home/_flash.html.twig' %}
    {% include 'home/_menu.html.twig' %}
    <div class="container">
        <div class="row ">
            <div class="col-sm-4">
                <div class="card m-3  bg-secondary">
                    {# <div class="card-body"> #}
                    {# <p class="card-text">Relaxation vibratoire.</p> #}
                    {# </div> #}
                    <a href="{{ path('app_relaxation') }}" class="btn btn-warning stretched-link">Relaxation
                        vibratoire</a>
                    <img src="{{ asset('images/bienetre/relaxation.jpeg') }}" style="width: 100%; height: 250px;"
                         alt="...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card m-3  bg-secondary">
                    {# <div class="card-body"> #}
                    {# <p class="card-text">Massage californien.</p> #}
                    {# </div> #}
                    <a href="{{ path('app_massage') }}" class="btn btn-warning stretched-link">Massage californien</a>
                    <img src="{{ asset('images/bienetre/massage.jpg') }}" style="width: 100%; height: 250px;" alt="...">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card m-3  bg-secondary">
                    <div class="card-body">
                        <p class="card-text">Livre d'or.</p>
                    </div>
                    <img src="{{ asset('images/bienetre/livredor.webp') }}" style="width: 100%; height: 250px;"
                         alt="...">
                </div>
            </div>
        </div>

    </div>
    <p></p>
    {% include 'home/_footer.html.twig' %}

{% endblock %}
