{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div id="calendar-holder"
                 data-events-url="{{ path('fc_load_events') }}"
                 style="background-color: #decdbc"
            ></div>
        </div>

        <div class="col-md-3 ">
            <ul>
                {% for event in events %}
                    <li>
                        {% set formatted_date = "" %}
                        {% if  event.beginAt |  date('d-m-Y') == event.endAt | date('d-m-Y') %}
                            {% set formatted_date = "le "~event.beginAt | date('d-m-Y') %}
                        {% else %}
                            {% set formatted_date = "du "~event.beginAt | date('d-m-Y')~" au "~event.endAt | date('d-m-Y') %}
                        {% endif %}
                        <p class=" small">{{ event.ville.nom }} </br>
                            {{ formatted_date }}</br>
                            {{ event.rubrique.nom }}
                        </p>
                    </li>
                                   {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
