{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="min-height: 600px">
        <div class="col-md-9">
            <div id="calendar-holder"
                 data-events-url="{{ path('fc_load_events') }}"
                 style="background-color: #decdbc"
            ></div>
        </div>

        <div class="col-md-3 ">
            <ul class="small">
                {% for event in events %}
                    <li class="p-1 m-1 " style="background-color: {{ event.rubrique.color }}; list-style-type: none;">
                        <a href="{{path('app_event_show' , {'id' : event.id}) }}" class="btn text-left">
                            {% set formatted_date = "" %}
                            {% if  event.beginAt |  date('d-m-Y') == event.endAt | date('d-m-Y') %}
                                {% set formatted_date = "le "~event.beginAt | date('d-m-Y') %}
                            {% else %}
                                {% set formatted_date = "du "~event.beginAt | date('d-m-Y')~" au "~event.endAt | date('d-m-Y') %}
                            {% endif %}
                            <div>
                                <p class=" mb-0"><span style="font-weight: bold;">{{ event.ville.nom }}</span></br>
                                    {{ event.ville.nom }}</br>
                                    {{ formatted_date }}</br>{{ event.rubrique.nom }}</p>
                                {% if event.description is not null %}
                                    <hr>
                                    {{ event.description | raw }}
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
