{% extends 'emails/basemail.html.twig' %}

{% block body %}
	{{ parent() }}
    <h3>Commentaire à valider !</h3>

    {{ prenom }} a posté un commentaire sur le site.<br/>
    et attend qu'il soit validé.

    <a href=" {{ absolute_url(postUrl) }}"> Lien vers le commentaire</a>
    <hr>
    <div class="card">
    <h4>Pour la rubrique : {{ rubrique }}</h4>
    <div><i>{{ message }}</i></div>
    <div>de {{ prenom }} - {{ age }} ans </div>
    </div>
{% endblock %}
