{{ form_start(form) }}
    {{ form_widget(form) }}

{# Vérifier si la route est xxx #}
{% if app.request.attributes.get('_route') == 'app_post_edit' %}

    <h2>Photos</h2>
    <div class="row">
        {% for photo in post.photos %}
            <div class="col">
                <div class="p-2">
                    <img src="{{ asset('/uploads/photos/'~photo.photoName) }}" alt="photo" height="150">
                </div>
                <a
                        href="{{ path('app_photo_supprime', {id: photo.id}) }}"
                        data-delete
                        data-token="{{ csrf_token('delete'~photo.id) }}"
                        class="btn btn-danger">Supprimer</a>
            </div>
        {% endfor %}
    </div>
{% endif %}
<br>
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
