{% extends 'base.html.twig' %}

{% block title %}Projets - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="row d-none d-lg-flex "> {# ordi #}
        {% for projet in projets %}
            <div class="col-lg-6 ">
                <div class="card mb-3 text-bg-secondary " style="height: 330px;">
                    <div class="row g-0 effet">
                        <div class="col-lg-4 p-lg-3 ">
                            <img src="{{ projet.image }}" class="img-fluid rounded-start " alt="{{ projet.titre }}">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> {# ordi #}


    <div class="row d-lg-none" style="text-align: justify"> {# tél #}
        <h1 class="text-center">Mes projets</h1>
        {% for projet in projets %}
            <div>
                <div class="card mb-3 text-bg-secondary">
                    <div class="row g-0 ">
                        <div class="p-lg-3 text-center">
                            <img src="{{ projet.image }}" class="img-fluid rounded-start " alt="{{ projet.titre }}">
                        </div>
                        <div>
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> {# tél #}


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        window.addEventListener('load', function () {
            $(".effet").hide();
            $(".effet").slideUp(0);
            $(".effet").slideDown(2000);
        });

    </script>
{% endblock javascripts %}
