{% extends 'base.html.twig' %}

{% block title %}Projets - FAO TRAVEL !{% endblock %}
{% block body %}
    <div class="container">
        {% if is_mobile() %}
            <div class="row p-1">
                <h1 class="bg-secondary text-center  p-1">Mes projets</h1>
            </div>

            <div class="row" style="text-align: justify">
                {% for projet in projets %}
                    <div>
                        <div class="card mb-3 text-bg-secondary">
                            <div class="row g-0 ">
                                <div class="p-lg-3 text-center">
                                    <img src="{{ 'uploads/illustrations/'~projet.illustrationName }}"
                                         class="img-fluid rounded-start illustration" alt="{{ projet.titre }}">
                                </div>
                                <div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ projet.titre }}</h5>
                                        <p class="card-text">{{ projet.description | raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row d-lg-flex ">
                {% for projet in projets %}
                    <div class="col-lg-6 ">
                        <div class="card mb-3 text-bg-secondary " style="height: 330px;">
                            <div class="row g-0  effet">
                                <div class="col-lg-4 p-lg-3 ">
                                    <img src="{{ 'uploads/illustrations/'~projet.illustrationName }}"
                                         class="img-fluid rounded-start illustration" alt="{{ projet.titre }}">
                                </div>
                                <div class="col-lg-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ projet.titre }}</h5>
                                        <p class="card-text"
                                           style="font-size: smaller">{{ projet.description | raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

    {# {% block javascripts %} #}
    {#   {{ parent() }} #}
    {#   {{ encore_entry_script_tags('custom') }} #}
    {# {% endblock javascripts %} #}
