{% extends 'base.html.twig' %}

{% block title %}Poi index{% endblock %}

{% block body %}
    <h1>Liste des P.O.I. (points d'intérêts)</h1>

    <a class="btn btn-success" href="{{ path('poi_new') }}">Nouvelle localisation</a>
    <a class="btn btn-success" href="{{ path('carte') }}">Aller à la carte</a>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Nom</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for poi in pois %}
            <tr>
                <td>
                    {% if  poi.prefered %}
                        <img src="{{ asset("/images/staron.png") }}" alt="" class="star" data-value="{{ poi.id }}">
                    {% else %}
                        <img src="{{ asset("/images/staroff.png") }}" alt="" class="star" data-value="{{ poi.id }}">
                    {% endif %}
                </td>
                <td>{{ poi.id }}</td>
                <td>{{ poi.nom }}</td>
                <td>{{ poi.lat }}</td>
                <td>{{ poi.lon }}</td>
                <td>
                    <a href="{{ path('poi_show', {'id': poi.id}) }}">Voir</a>
                    <a href="{{ path('poi_edit', {'id': poi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun P.O.I n'a été saisi.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        {#$(function () {#}
        {#    $('img.star').click(function () {#}
        {#        var current = $(this);#}
        {#        var id = current.data('value');#}

        {#        $('img.star').attr('src','{{ asset("/images/staroff.png") }}' );#}
        {#        current.attr('src','{{ asset("/images/staron.png") }}' );#}

        {#        $.ajax({#}
        {#            url: "{{ path('star') }}" ,#}
        {#            type: 'POST',#}
        {#            data: {'id' : id},#}
        {#        });#}


        {#    });#}
        {#});#}

    </script>

{% endblock %}